<div class="jumbotron text-center">
  <h1 class="display-4">Hello, world!</h1>
  <h1 class="display-4">We are !</h1>
  <ul class="list-group list-group-flush p-5">
    <li class="list-group-item">Dancers</li>
    <li class="list-group-item">Travelers</li>
    <li class="list-group-item">Dj</li>
    <li class="list-group-item">Graffito </li>
    <li class="list-group-item">PhotoGrapher</li>
    <li class="list-group-item">Calisthenics</li>
    <li class="list-group-item">Poets</li>
    <li class="list-group-item">Writers</li>
    <li class="list-group-item">Influencers</li>
    <li class="list-group-item">Programmers</li>
    <li class="list-group-item">---Load More---</li>




  </ul>
  <h1 class="display-4">And Much More!</h1>


  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" (click)="toNavigate('home')" role="button">Learn more About-Us</a>
</div>

<div class="container text-center">

  <div >
    Section I
  </div>
  <div>
    Section II
  </div>
  <div>
    Section III
  </div>

</div>
