<div class="jumbotron text-center">
  <h1 class="display-4">Hello, world!</h1>
  <h1 class="display-4">We are !</h1>
  <ul class="list-group list-group-flush p-5">
    <li class="list-group-item">Dancers</li>
    <li class="list-group-item">Travelers</li>
    <li class="list-group-item">Dj</li>
    <li class="list-group-item">Graffito </li>
    <li class="list-group-item">PhotoGrapher</li>
    <li class="list-group-item">Calisthenics</li>
    <li class="list-group-item">Poets</li>
    <li class="list-group-item">Writers</li>
    <li class="list-group-item">Influencers</li>
    <li class="list-group-item">Programmers</li>
    <li class="list-group-item">---Load More---</li>




  </ul>

</div>

<div class="container text-center">

    <div style="transform: skewX(160deg); display: flex;" class="container p-5">
        <div>
          <img height=300 width=300 src="https://www.androidcentral.com/sites/androidcentral.com/files/styles/large/public/gtav-2-og57.png?itok=cMXh9XUb" alt="">
        </div>
        <div class="p-5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, ullam doloribus repellendus ab amet fuga maiores quasi esse doloremque ut itaque eos, quam, laboriosam ipsam dolores perspiciatis dolorum mollitia minus?

        </div>
      </div>
      <hr>
      <div style="transform: skewX(160deg); display: flex;" class="container p-5">
          <div class="p-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, ullam doloribus repellendus ab amet fuga maiores quasi esse doloremque ut itaque eos, quam, laboriosam ipsam dolores perspiciatis dolorum mollitia minus?

          </div>
              <div>
                <img height=300 width=500 src="https://www.lifewire.com/thmb/YJAql4hgRWFy5SmEgkKnPsVlNdo=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/2212383-box_gtasa-56a9c46e5f9b58b7d0fed169-5b2e6af943a1030036a47337.png" alt="">
              </div>
        </div>
        <hr>
        <div style="transform: skewX(160deg); display: flex;" class="container p-5">
            <div>
              <img height=300 width=400 src="https://n4.sdlcdn.com/imgs/h/s/0/GRAND-THEFT-AUTO-VICE-CITY-SDL409115873-1-fb7af.png" alt="">
            </div>
            <div class="p-5">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, ullam doloribus repellendus ab amet fuga maiores quasi esse doloremque ut itaque eos, quam, laboriosam ipsam dolores perspiciatis dolorum mollitia minus?

            </div>
          </div>

</div>
<section class="text-center">
    <h1 class="display-4">And Much More!</h1>


    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" (click)="toNavigate('home')" role="button">Learn more About-Us</a>
</section>
